* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header-section {
    padding: 50px;
    background: url("images/top-banner.png") no-repeat;
}

.flexible {
    display: flex;
    align-items: center;
}

.first-half {
    width: 50%;
}
.second-half {
    width: 50%;
}

.second-half img {
    width: 100%;
}
.designing-hero-content {
    padding-right: 5%;
}

h1,
h2 {
    font-size: 50px;
    line-height: 4.5rem;
}

h4 {
    font-size: 24px;
    line-height: 4.5rem;
}
.inline-design {
    color: #FFA500;
}
p {
    font-size: 16px;
    color: #696969;
    letter-spacing: 1.5px;
    margin: 0 0 26px 0;
}

.btn-link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(#fb6454, #f78a6a);
    border-radius: 4px;
    color: whitesmoke;
}

/* header section complete */

.aligning-image-second-section {
    padding-right: 5%;
}

.about-section {
    padding: 50px;
    background: url("images/dream-bg.png") no-repeat;
    background-position: right;
}


/* second section finished */