* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header-section {
    padding: 50px;
    background: url("images/top-banner.png") no-repeat;
}

.flexible {
    display: flex;
    align-items: center;
}

.first-half {
    width: 50%;
}
.second-half {
    width: 50%;
}

.second-half img {
    width: 100%;
}
.designing-hero-content {
    padding-right: 5%;
}

h1,
h2 {
    font-size: 50px;
    line-height: 4.5rem;
}
h3 {
    font-size: 35px;
}
h5 {
    color: #ffa500;
    font-size: 17px;
}
h4 {
    font-size: 24px;
    line-height: 4.5rem;
}
.inline-design {
    color: #ffa500;
}
p {
    font-size: 16px;
    color: #696969;
    letter-spacing: 1.5px;
    margin: 0 0 26px 0;
}

.btn-link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(#fb6454, #f78a6a);
    border-radius: 4px;
    color: whitesmoke;
}

/* header section complete */

.aligning-image-second-section {
    padding-right: 5%;
}

.about-section {
    padding: 50px;
    background: url("images/dream-bg.png") no-repeat;
    background-position: right;
}

/* second section finished */

.exp-section {
    margin: 50px 0 100px;
    background: url("images/exp-bg.png") no-repeat;
    background-position: left center;
}

.exp-cont {
    display: flex;
}

.half-exp {
    width: 50%;
    margin-top: 80px;
    padding: 0 20px;
    margin-right: 40px;
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    min-height: 300px;
    box-shadow: 5px 5px 40px rgb(223, 223, 223);
    transition: all 500ms;
}
.half-exp:last-child {
    margin-right: 0;
    margin-left: 40px;
    border-left: 5px solid;
    border-image: linear-gradient(rgb(100, 130, 211), rgb(238, 106, 83));
    border-image-slice: 1;
}

.half-exp:hover {
    box-shadow: 5px 5px 40px rgb(184, 184, 184);
}

.half-exp h3 {
    line-height: 5rem;
}

.half-exp h5 {
    line-height: 4rem;
}

.half-exp p {
    margin-top: 15px;
}
